.portfolio {
}
.portfolio header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}
@media only screen and (max-width: 880px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 640px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
