.portfolio {
}
.portfolio header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio .projects {
  column-count: 3;
  column-gap: 16px;
  break-inside: avoid;
}
@media only screen and (max-width: 880px) {
  .portfolio .projects {
    column-count: 2;
  }
}
@media only screen and (max-width: 640px) {
  .portfolio .projects {
    column-count: 1;
  }
}
