.project {
  position: relative;
  padding: 0;
  overflow: hidden;
}
.project img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-dark-overlay);
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.overlay span {
  font-weight: 300;
  color: var(--color-primary);
  text-shadow: 0 0 4px var(--color-dark);
}
.overlay p {
  color: var(--color-light);
  margin-top: 16px;
  text-shadow: 0 0 4px var(--color-dark);
}
.overlay .cta {
  margin-top: 16px;
  margin-bottom: 8px;
}
.project .filter {
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary-overlay);
}
.project:hover .overlay {
  opacity: 1;
}
.project:hover .filter {
  opacity: 0;
}
