.project {
  position: relative;
  padding: 0;
  overflow: hidden;
}
.project img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.project .overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-dark-overlay);
}
.project:hover .overlay {
  opacity: 1;
}
.overlay {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.overlay span {
  font-weight: 300;
  color: var(--color-primary);
}
.overlay p {
  color: var(--color-light);
}
