.button {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 600;
}

.primary {
  background-color: var(--color-primary);
  /* border-radius: 32px; */
  color: var(--color-dark);
}
.primary:hover {
  background-color: var(--color-primary-hover);
}

.secondary {
  color: var(--color-light);
  text-decoration: underline;
  background-color: transparent;
}
.secondary:hover {
  columns: var(--color-light-hover);
}
